@import "../abstracts/variables";

#header {
    font-family: $font-family;
}

.header-top__logo {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.header-top__search {
    border: 1px solid $search-color;
    background-color: $search-color;
    border-radius: 15px;
    margin-top: 30px;

    input {
        width: 25%;
        border: none;
        background-color: $search-color;
        padding: 15px;

        &:focus {
            outline: none !important;
        }
    }


    img {
        padding-left: 10px;
    }
}


.header-top__icons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;


    .globe {
        display: flex;
        gap: 10px;
        padding-left: 10px;
        align-items: flex-end;
        cursor: pointer;

        img {
            width: 3vh;
        }

        img:hover+.dropdown {
            display: block;
        }

        .dropdown {
            position: relative;
            display: none;

            &:hover {
                display: block;
            }

            .dropdown-list {
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(-50%, 0);
                border: 1px solid $color-white;
                padding: 10px;
                background-color: $color-white;

                li {
                    a {
                        color: $color-primary;
                    }
                }

            }
        }

        .span:hover+.dropdown {
            display: block;
        }
    }
}

.icons {
    display: flex;
    gap: 20px;

    span {
        padding: 5px;
        border: 1px solid $span-color;
        border-radius: 50%;
        background-color: $span-color;
        color: $color-white;
    }
}